.container{
    margin-top: 1rem;
    display: flex;
    margin: 0 2rem 6rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .content{
    width: 35rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
  }

table{
    width: 80rem;
    border: 1px solid #eeeeee;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
  
  h3{
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    color: grey;
  }
  
  a:hover{
    opacity: 0.9;
  }
  
  td{
    padding: 1rem;
    height: 3rem;
  }
  
  td img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 100rem;
  }

  button{
    height: 2rem;
    border: none;
    outline: none;
    font-weight: 100;
    border-radius: 0.8rem;
    width: 100%;
    margin: 0.5rem auto;
    opacity: 0.8;
  }
  
  button:hover{
  cursor: pointer;
  opacity: 1;
  }

  .btn-cont {
    padding: 2px;
  }

  .primary {
    background-color: rgb(80, 80, 241);
    color: aliceblue;
  }

  .success {
    background-color: rgb(41, 180, 138);
    color: black;
  }

  .danger {
    background-color: rgb(180, 41, 71);
    color: rgb(255, 255, 255);
  }