<div class="container">
    <!-- <div class="content">
      <app-title title="Orders Summary" fontSize="1.6rem"></app-title>
    </div> -->

    <div class="order-table">
        <table>
            <tr>
              <td colspan="5">
                <h3>Users List:</h3>
              </td>
            </tr>
            <tr *ngFor="let item of users">
              <td>
                <a routerLink="/order">
                  <!-- <img [src]="item.food.image"/> -->
                </a>
              </td>
              <td>
                {{item.email}}
              </td>
              <td>
                {{item.name}}
              </td>
              <td>
                {{item.address}}
              </td>
              <td>
                {{item.isAdmin?"ADMIN":"ONLINE USER"}}
              </td>
              <td class="btn-cont">
                <button *ngIf="!item.isAdmin" class="success" (click)="onUpdate(item, item.isAdmin)">Make Admin</button>
                <button *ngIf="item.isAdmin" class="primary" (click)="onUpdate(item, item.isAdmin)">Make User</button>
                <button class="danger" (click)="onRemove(item.id)">Remove</button>
              </td>
            </tr>
          </table>
    </div>
</div>
